<nav class="nav">
  <section class="navbar">
    <ul class="navList-left">
      <li class="drop-down-toggle">
        <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}">Home</a>
      </li>
      <li class="drop-down-toggle">
        <a href="" routerLinkActive="active" routerLinkActive="active">File</a>
        <ul class="drop-down">
          <li>
            <a href="">Create File</a>
          </li>
        </ul>
      </li>
      <li class="drop-down-toggle">
        <a href="" routerLinkActive="active">Search</a>
        <ul class="drop-down">
          <li>
            <a href="">Search File</a>
          </li>
          <li>
            <a href="">Search User</a>
          </li>
        </ul>
      </li>
      <li class="drop-down-toggle">
        <a href="" routerLinkActive="active">Approval</a>
        <ul class="drop-down">
          <li>
            <a href="">C of O Approval List</a>
          </li>
          <li>
            <a href="">Allocation Approval List</a>
          </li>
        </ul>
      </li>
      <li class="drop-down-toggle">
        <a href="" routerLinkActive="active">DMS</a>
        <ul class="drop-down">
          <li>
            <a href="">Printed Approval List</a>
          </li>
          <li>
            <a href="">Signed Approval List</a>
          </li>
        </ul>
      </li>
      <li class="drop-down-toggle">
        <a href="" routerLinkActive="active">Registry</a>
        <ul class="drop-down">
          <li>
            <a href="">Deed Registry</a>
          </li>
        </ul>
      </li>
      <li class="drop-down-toggle">
        <a href="" routerLinkActive="active">Admin Board</a>
        <ul class="drop-down">
          <li>
            <a href="">Manage User</a>
          </li>
          <li>
            <a href="">Report</a>
          </li>
        </ul>
      </li>
      <li class="drop-down-toggle">
        <a href="" routerLinkActive="active">Customer Service</a>
        <ul class="drop-down">
          <li>
            <a href="">Call Centre</a>
          </li>
          <li>
            <a href="">Queue System</a>
          </li>
        </ul>
      </li>
    </ul>
    
    <ul class="navList-right">
      <li>
        <section class="user-welcome">
          Welcome <span>JTimothy!</span>
        </section>
      </li>
      <li>
        <a href="">Log out</a>
      </li>
    </ul>
  </section>
</nav>